.Title {
  margin-top: 40px;
  h2 {
    color: $black;
  }

  h2::after {
    content: '';
    display: block;
    width: 50px;
    padding-top: 3px;
    border-bottom: 3px solid $light-green-color;
  }
}
