.form-content {
  padding-bottom: 40px;
}
.form-buttons {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  border-top: 1px solid rgba(188, 188, 188, 0.543);
  height: 60px;
}

.fader-box {
  position: relative;
  display: flex;
  height: 100%; /* Make sure the fader-box takes up the full height of its parent */
}

.form-content {
  min-height: 460px;
}

@media (max-width: 768px) {
  .form-buttons {
    flex-direction: column-reverse;
  }

  .forward-button,
  .back-button,
  .return-button {
    width: 100%;
  }
}
