.form-logo {
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 20px;
}

.logo {
  max-height: 150px;
  border: none;
  align-items: center;
  justify-content: center;
  display: flex;
}

.form-checkbox {
  display: flex;
  align-items: center;
  gap: 10px;
  input {
    appearance: none;
    outline: none;
    width: 20px;
    height: 15px;
    border: 1px solid $step-color;
    cursor: pointer;

    &:checked {
      background-color: $light-green-color;
      box-shadow: 0 0 0 2px white inset;
    }
  }
}

#consent-label {
  font-weight: 400;
  color: $text-color;
  p {
    font-size: 12px;
  }
}
