@import 'styles/base';

.app {
  margin: 25px;
  max-width: 600px;
  background-color: rgb(249, 249, 160);
  align-items: center;
  justify-content: center;
  padding: 50px;
  border-radius: 10px;
}
p {
  color: $text-color;
  font-size: 15px;
  font-weight: 500;
}
h4 {
  color: $dark-green-color;
  font-weight: 700;
}

label {
  font-weight: 600;
  margin-top: 20px;
  margin-bottom: 5px;
}

input {
  height: 25px;
  text-indent: 10px;
  &:focus {
    border-color: green;
  }
}

button {
  width: 150px;
  height: 30px;
  border-radius: 5px;
  background-color: $green-color;
  border: none;
  color: white;

  &:hover {
    cursor: pointer;
  }
}

.back-button {
  background-color: transparent;
  color: black;
}

.return-button {
  background-color: transparent;
  color: black;
  font-weight: 600;
}

.fader-box {
  position: relative;
  display: flex;
}

.fader-loader {
  position: absolute;
  right: 5px;
  top: 2px;
}

.disabled {
  background-color: rgba(0, 128, 0, 0.329) !important;
  cursor: not-allowed !important;
}

.info-error p {
  font-size: 10px;
  color: red;
  margin-top: 2px;
}
